#front{
    background-color: #92d5db;
}

#tower, #myinfo{
    margin-top: 2%;
}

#tower{
    position: relative;
    animation-name: tower;
    animation-duration: 3s;
}

.cloud{
    position: relative;
    animation-name: cloud;
    animation-duration: 3s;
}

@keyframes cloud{
    0%   {right:30px;}
    100% {right:0px;}
}

@keyframes tower{
    0%   {top:30px;}
    100% {top:0px;}
}