body{
    background-color: #937B63;
}

.grid-container{
    display: grid;
    grid-gap: 1em;
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #931F1D;
    padding: 1em;
}

.thetitle{
    display: grid;
    background-color: #c7c7c7;
    padding: 1em;
}

.main{
    display: grid;
    grid-gap: 1em;
}

.row1{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #8A9B68;
    padding: 1em;
}

.title1{
    display: grid;
    border: 1px solid white;
    background-color: #c7c7c7;
    grid-gap: 1em;
}

.about{
    display: grid;
    grid-gap: 1em;
    border: 1px solid white;
    background-color: #828282;
    padding: 1em;
}

.row2{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    background-color: #931F1D;
    padding: 1em;
}

.title2{
    display: grid;
    border: 1px solid white;
    background-color: #c7c7c7;
    grid-gap: 1em;
}

.projects{
    display: grid;
    grid-gap: 1em;
    border: 1px solid white;
    background-color: #828282;
    padding: 1em;
}

.row3{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 3fr 2fr 2fr 2fr;
    background-color: #8A9B68;
    padding: 1em;
}

.title3{
    display: grid;
    border: 1px solid white;
    background-color: #c7c7c7;
    grid-gap: 1em;
}

.contact{
    display: grid;
    grid-gap: 1em;
    border: 1px solid white;
    background-color: #828282;
}

h1{
    font-family:  Arial; 
    color: #2e2e2e;
    text-align: center;
}

h2{
    font-family:  Arial; 
    color: #2e2e2e;
    text-align: center;
}

h3{
    font-family:  Arial; 
    color: #f7f7f7; 
    text-align: center;
    text-decoration: underline;
}

#me{
    max-width: 30vw;
    max-height: 50vh;
    margin: auto;
}

.media{
    width: 10em;
    height: 10em;
    margin: auto;
    border-radius: 5em;
    border: 1px solid gray;
    
}

.media:hover{
    border: 3px solid;
}


p{
    font-family: Georgia;
    text-align: center;
}

#CCC{
    text-decoration: none;
    text-decoration-color: none;
    text-decoration-line: none;
}

#seaside{
    text-decoration: none;
    text-decoration-color: none;
    text-decoration-line: none;
}
