#front{
    background: rgb(146,213,219);
    background: linear-gradient(180deg, rgba(146,213,219,1) 0%, rgba(255,220,170,1) 100%);
}

#tower, #myinfo{
    margin-top: 2%;
}

#tower{
    position: relative;
    animation-name: tower;
    animation-duration: 3s;
}

#plane1{
    position: relative;
    animation-name: plane1;
    animation-duration: 3s;
}

#plane2{
    position: relative;
    animation-name: plane2;
    animation-duration: 3s;
}

.cloud{
    position: relative;
    animation-name: cloud;
    animation-duration: 3s;
}

@keyframes plane1{
    0%   {right:100px;}
    100% {right:0px;}
}

@keyframes plane2{
    0%   {left:100px;}
    100% {left:0px;}
}

@keyframes cloud{
    0%   {right:40px;}
    100% {right:0px;}
}

@keyframes tower{
    0%   {top:40px;}
    100% {top:0px;}
}